<ion-header>
  <ion-toolbar color='danger'>
    <ion-title class="ion-text-center">PAPELERA DE RECICLAJE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-card-content>

    <ion-toolbar color='danger'>
      <ion-row>
        <ion-col>
          <ion-title class="ion-text-center">COMPRAS ELIMINADAS</ion-title>
        </ion-col>        
      </ion-row>
      
      <ion-row>
        <ion-col size='9'>
          <ion-item>
            <ion-icon name='search' slot='start'></ion-icon>
            <ion-input clearInput placeholder='buscar' type='text' (keyup)='filtrarCompras($event)'></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-fab-button type='button' size='small' (click)='listarCompras()' color='danger'>
            <ion-icon name='refresh-outline'>
            </ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>

    <ngx-datatable class="material expandable" [rows]="compras" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="90" [scrollbarV]="true">
      <ngx-datatable-column name='FECHA' prop='Fecha'>
        <ng-template let-row='row' ngx-datatable-cell-template>
          {{ row.Fecha | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name='COMPRAS' prop='ConceptoCompra'>
      </ngx-datatable-column>

      <ngx-datatable-column name='FOTO' prop='Foto' [sortable]='false'>
        <ng-template let-row='row' ngx-datatable-cell-template>
          <div (click)='verFoto(row)' class="ion-text-center">
            <ion-thumbnail>
              <ion-img [src]="row.Foto"></ion-img>
            </ion-thumbnail>
            <ion-note class="nombreFoto" color='primary'>{{ row.NombreFoto }}</ion-note>
          </div>
        </ng-template>
      </ngx-datatable-column>

      
      <ngx-datatable-column name='MONTO' prop='Monto'>
        <ng-template let-row='row' ngx-datatable-cell-template>
          <div class="ion-text-end">
            {{ row.Monto | number:'1.2-2' }}
          </div>
        </ng-template>
      </ngx-datatable-column>

      
      <ngx-datatable-column name='ACCIONES' [sortable]='false'>
        <ng-template let-row='row' ngx-datatable-cell-template>

          <ion-icon name='magnet' class="icon-button-2" color='danger' (click)='updateCompra(row)'></ion-icon>
          <ion-icon name='trash' class="icon-button-2" color='danger' (click)='delCompra(row)'></ion-icon>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </ion-card-content>
  <br>

  <ion-card-content>
    <ion-toolbar color='danger'>
      <ion-row>
        <ion-col>
          <ion-title class="ion-text-center">VENTAS ELIMINADAS</ion-title>
        </ion-col>        
      </ion-row>
      <ion-row>
        <ion-col size='9'>
          <ion-item>
            <ion-icon name='search' slot='start'></ion-icon>
            <ion-input clearInput placeholder='buscar' type='text' (keyup)='filtrarVentas($event)'></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-fab-button type='button' size='small' (click)='listarVentas()' color='danger'>
            <ion-icon name='refresh-outline'>
            </ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
    <ngx-datatable class="material expandable" [rows]="ventas" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="90" [scrollbarV]="true">

      <ngx-datatable-column name='FECHA' prop='Fecha'>
        <ng-template let-row='row' ngx-datatable-cell-template>
          {{ row.Fecha | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name='VENTAS' prop='ConceptoVenta'>
      </ngx-datatable-column>

      <ngx-datatable-column name='FOTO' prop='Foto' [sortable]='false'>
        <ng-template let-row='row' ngx-datatable-cell-template>
          <div (click)='verFoto(row)' class="ion-text-center">
            <ion-thumbnail>
              <ion-img [src]="row.Foto"></ion-img>
            </ion-thumbnail>
            <ion-note class="nombreFoto" color='primary'>{{ row.NombreFoto }}</ion-note>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name='MONTO' prop='Monto'>
        <ng-template let-row='row' ngx-datatable-cell-template>
          <div class="ion-text-end">
            {{ row.Monto | number:'1.2-2' }}
          </div>
        </ng-template>
      </ngx-datatable-column>

     

      <ngx-datatable-column name='ACCIONES' [sortable]='false'>
        <ng-template let-row='row' ngx-datatable-cell-template>

          <ion-icon name='magnet' class="icon-button-2" color='danger' (click)='updateVenta(row)'></ion-icon>
          <ion-icon name='trash' class="icon-button-2" color='danger' (click)='delVenta(row)'></ion-icon>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </ion-card-content>

  <br>
</ion-content>