<ion-content fullscreen class="bg">
  <img src="../../assets/logo-shessira.png" alt="logo">

  <ion-toolbar color='danger'>
    <!-- <ion-segment (ionChange)="login = !login" value='login'></ion-segment> -->
    <ion-segment>
      <ion-segment-button value='register' layout="icon-start">
        <ion-icon name="person-add-outline" size='small'></ion-icon>
        <ion-label>Recuperar Contraseña</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div class="login-register">
    <form>
      <ion-item lines='full'>
        <ion-label position='floating'>Ingrese su correo</ion-label>
        <ion-input type='email' formControlName='userEmail' required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type='submit' expand='block' (click)='onReset()'>Recuperar Contraseña</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col class="ion-text-end">
        <a [routerLink]="['/login']">Iniciar Sesión </a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>